
@{
    ViewBag.Title = "Cust_Res_Germany";
}

@*<h2>Cust_Res_Germany</h2>*@
<h5>Customer Names who are residing in Germany</h5>
@foreach(var item in Model)
            {
                 <li>@item</li>
            }
